@model Model
@{
}<!--model Model sayesinde modelin özelliklerini kullanabiliyoruz aşağıdaki asp-for="Name" modelin özelliği
     bizim yerimize form için gerekli olan bütün atributleri kendisi ekler.-->

<h4>Yeni Kayıt Ekleme</h4>
<form method="post">
    <div class="mb-3">
        <label class="form-label" for="name">Marka Adı</label>
        <div class="col-12 col-md-4">
            <select class="form-select" asp-for="MakeId" asp-items="@ViewBag.Makes">
            </select> <!--asp-for="MakeId ile kullanıcının seçtiği markanın Id'sini MakeId içine koydu(foreachkey) Model tablosuna databaseye post ile gönderdi."-->
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="name">Model Adı</label>
        <div class="col-12 col-md-4">
            <input class="form-control" asp-for="Name" placeholder="model adını yazınız..." />
        </div>
    </div>
    <hr />
    <button class="btn btn-primary" type="submit">Kaydet</button>
    <a class="btn btn-outline-secondary" asp-action="Index">İptal</a>
</form>