@model Model
@{
}

<h4>Kayıt Güncelleme</h4>
<form method="post">
    <div class="mb-3">
        <label class="form-label" for="name">Model Adı</label>
        <div class="col-12 col-md-4">
            <input class="form-control" asp-for="Name" placeholder="model adını yazınız..." />
        </div> <!--value sayesinde text kutusunu dolu getirdik indexte düzenle butonuna asp-route-id="item.Id" yazarak url kısmına İd yi yazdık makescontroller da id ile satırı find methoduyla çağırdık sonra value = "(et işareti)Model.Name" girerek text kutusunu dolu getirdik. asp-for="Name" = type="text" id="name" name="name"  -->
    </div>
    <hr />
    <button class="btn btn-primary" type="submit">Kaydet</button>
    <a class="btn btn-outline-secondary" asp-action="Index">İptal</a>
</form>