@model List<Model>
@{
} <!--CarDealerApp.Domain yolunu _ViewImports.cshtml'ye ekledik.-->
 <!--markalardan oluşan liste modelin içindedir.-->
<h4>Modeller</h4>
<div class="d-flex">
    <a asp-action="Create" class="btn btn-outline-primary ms-auto">Yeni Kayıt</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Marka Adı</th>
            <th>Model Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Make.Name</td> <!--modelin marka adını çektik.-->
                <td>@item.Name</td> <!--Marka listesi İtemin içinde marka listesinden her markanın adı Name içinde(Name= Marka adı) (İtem=Veri tabanından çekilen marka listesi) aşağıdaki asp-route-Id="item.Id" her eklenen markanın Id'sini belirtir. Kullanıcı bize bu bilgiyi url'de gönderdi biz şimdi bu Id'yi alıcaz. -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" >Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger" >Sil</a>
                </td>
            </tr>
        }

    </tbody>
</table>
