@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> <!--view methodu bu dosyayı alır içinde kod varsa çalıştırır bir html üretir.Bu htmlyi share/layoutun(ortak sayfalar) içinde ki RenderBody nin içine koyar. İki htmlyi birleştirir büyük bir html oluşturur. Htmlyi en son kullanıcıya gönderir. -->
